<a href="https://colab.research.google.com/github/Oyekanmi/Machine-Learning-New/blob/master/Customer_Churn_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About the Dataset**

The dataset has the demographic information of bank customers that churns or stays within 6 months.The exited column has either 1 or 0 where 1 means -Customer leaves and 0--means customer stays . How can we predict whether future customer stays within 6 months of enrolment using the dataset ?

In [0]:
#import libraries
import pandas as pd
import numpy as np
import tensorflow as tf

In [0]:
customer_info = pd.read_csv('/Churn_Modelling.csv')  #load customer information

In [25]:
customer_info.head() #check for the first five rows of the data

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
#Split the data into independet and dependent veriables 
#Since column o to 2 is not necessary , we exclude the columns 

X = customer_info.iloc[:,3:-1]
y= customer_info.iloc[:,-1]

In [27]:
X.shape  #Confirm the dimension of the independent variables

(10000, 10)

In [28]:
y.shape  #Confirm the dimension of the dependent variables

(10000,)

In [29]:
X.head()  #view the first five rows

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

**Split into training and testing**

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split( X,y,test_size = 0.2 , random_state=42)

**Data Preprocessing**

In [50]:
# Build a pipeline of data preprocessing 
# Check for missing values in the training set
X_train.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler

In [0]:
ohe = OneHotEncoder(sparse= False)  # Convert categorical to dummy variables using OheHotEncoder

sc= StandardScaler()    # Perform feature scaling on some features

ct = make_column_transformer((ohe,['Geography','Gender']), (sc,[ 'CreditScore','Age','Tenure','Balance', 'NumOfProducts', 'EstimatedSalary'] ), remainder= 'passthrough' )

In [0]:
X_train = ct.fit_transform(X_train)   #fit the column transformers into the dataset

**Build an ANN**

In [0]:
ann = tf.keras.Sequential() #intialize the ANN

In [0]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) # add the input and the first hidden layer

In [0]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) # add second hidden layer

In [0]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  #add the final output later

In [0]:
ann.compile(optimizer='adam' , loss= 'binary_crossentropy', metrics=['accuracy'])      #compile the NN

**Train the ANN**

In [61]:
ann.fit(X_train,y_train, batch_size= 32 , epochs=100)     #fit the ANN to the training data

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5475 - accuracy: 0.7944
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4628 - accuracy: 0.7945
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4377 - accuracy: 0.7945
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4280 - accuracy: 0.7945
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4211 - accuracy: 0.7945
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4143 - accuracy: 0.8037
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4061 - accuracy: 0.8216
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3976 - accuracy: 0.8290
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3892 - accuracy: 0.8338
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8393
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3754 - accuracy: 0.8445
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3699 - accuracy: 0.8472
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3653 - accuracy: 0.8522
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3622 - accuracy: 0.8550
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3598 - accuracy: 0.8550
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3580 - accuracy: 0.8556
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8586
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8591
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3526 - accuracy: 0.8586
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3515 - accuracy: 0.8591
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8595
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8586
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8601
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8596
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8606
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8600
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8619
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8608
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8605
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8596
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8625
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8621
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8626
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8626
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8621
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8630
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8610
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8616
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8636
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8622
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8629
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8631
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8631
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8639
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8625
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8639
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8622
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8636
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8635
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8629
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8643
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8636
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8629
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8637
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8634
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8646
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8652
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8633
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8640
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8637
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8641
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8639
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8634
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8635
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8644
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8639
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8629
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8640
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8635
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8635
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8645
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8633
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8646
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8655
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8639
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8634
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8649
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8641
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8645
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8640
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8658
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8635
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8646
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8633
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8646
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8627
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8648
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8629
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8644
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8652
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8650
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8660
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8648
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8651
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8656
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8649
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8643
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8651

The results shows that the accuracy after 100 epochs is 0.86

**Predictions on unseen dataset**

In [0]:
#Tranform X_test
X_test = ct.transform(X_test)

In [0]:
y_pred = ann.predict(X_test)

In [0]:
y_pred = (y_pred > 0.5)   # if y_pred > 0.5 , customer leaves , otherwise customer stays

In [65]:
y_pred[:10]

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True]])

In [68]:
#Compute the confusion matrix , accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score
cm= confusion_matrix(y_test, y_pred)   #confusion matrix
print(cm)

print('\n')
accuracy_score(y_test, y_pred)   #calculate the accuracy score

[[1532   75]
 [ 202  191]]

0.8615